@import "tailwindcss";

:root {
  --background: #11071f;
  --foreground: #ededed;
  --glow: #512d80;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-montserrat);
  --font-text: var(--font-roboto);
}

.bg-primary {
  background-color: var(--background);
}

.color-primary {
  color: var(--background);
}

.bg-secondary {
  background-color: var(--foreground);
}

/* 
@media (prefers-color-scheme: light) {
  :root {
  --background: #ffffff;
  --foreground: #171717;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-text), Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), Arial, Helvetica, sans-serif;
}

.flex-cntr-all {
  align-items: center;
  justify-content: center;
}

*:has(> .patternBackground) {
  position: relative;
}

.patternBackground + * {
  position: relative;
  z-index: 1;
}

.patternBackground {
  background-image: url("/pattern.svg");
  background-repeat: no-repeat;
  background-size: auto;
  position: fixed;
  opacity: 0.8;
  inset: 0;
  z-index: 0;
}

main > *:nth-child(even) {
  background:
    radial-gradient(circle 300px at right top, var(--glow), transparent),
    radial-gradient(circle 300px at left bottom, var(--glow), transparent);
}

main > *:nth-child(odd) {
  background:
    radial-gradient(circle 300px at left top, var(--glow), transparent),
    radial-gradient(circle 300px at right bottom, var(--glow), transparent);
}

main > * {
  padding-block: 8rem;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button.primary {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--foreground); */
  border-radius: 6px;
  /* color: var(--background); */
  cursor: pointer;
}

.backgroundLight {
  background-color: var(--backgroundLight);
}

.evenBackground:nth-last-child(even) {
  background-color: var(--backgroundLight);
}
